* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins";
  box-sizing: border-box;
}

body {
  flex: auto;
  background-color: rgb(180, 180, 237);
  text-align: center;
  margin-top: 65px;
}

h1 {
  margin: 25px;
  color: black;
  text-transform: capitalize;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.countdown {
  float: left;
  margin-right: 25px;
  text-align: center;
}

.title {
  display: block;
  margin-bottom: 15px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.countValue {
  float: left;
  width: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
}

.countValue > span {
  margin: auto;
  font-size: 30px;
  font-weight: 700;
  color: rgb(170, 62, 62);
}

#title {
  border: 2px solid red;
  margin-top: 50px;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  color: black;
  border-radius: 15px;
}

#graph {
  border: 2px solid red;
  margin-top: 50px;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  color: black;
  border-radius: 15px;
}

#pool {
  border: 2px solid red;
  margin-top: 50px;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  color: black;
  border-radius: 15px;
}
